html {
    background-color: rgb(48, 48, 48);
}

#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
}

#calendar-select {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

p {
    color: white;
    margin-left: 16px;
}

#chat-history {
    flex-grow: 1;
    overflow-y: auto;
    border: 2px solid #ffffff;
    width: 100%;
}

#user-input-section {
    display: flex;
    border: 2px solid #ffffff;
    width: 100%;
}

#text-input-box {
    height: 100px;
    width: 100%;
    display: block;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/* Dropdown CSS */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.dropdown-button {
    background-color: #1A1A1A;
    color: #FFFFFF;
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    position: relative;
}

.dropdown-button::after {
    content: '\25BC';
    /* Downward triangle */
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease;
}

.dropdown-button.show::after {
    transform: rotate(180deg);
    /* Rotate to upward triangle */
}

.dropdown-button:hover,
.dropdown-button:focus {
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A1A1A;
    border: 2px solid #ffffff;
    border-radius: 4px;
    min-width: 200px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown-content div {
    color: #CCCCCC;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content div:hover {
    background-color: #333333;
    color: #FFFFFF;
}

.show {
    display: block;
}