html {
    background-color: rgb(48, 48, 48);
}

#flex-container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
}

p {
    color: white;
    margin-left: 16px;
}

#chat-history {
    flex-grow: 1;
    overflow-y: auto;
    border: 2px solid #ffffff;
}

#user-input-section {
    display: flex;
    border: 2px solid #ffffff;
}

#text-input-box {
    height: 100px;
    width: 100%;
    display: block;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 10px;
    resize: vertical;
}